.value {
    color: rgba(var(--bs-body-color-rgb), 0.8);
}

.clickable{
    cursor: pointer;
}

.clickable:hover {
    color: var(--bs-body-color);
}

.description {
    color: rgba(var(--bs-body-color-rgb), 0.6);
}

.block {
    display: inline;
}