.video_wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: black;
}

.video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.relative {
    position: relative;
}