.photo {
    height: 300px;
    max-width: 300px;
    display: block;
    margin: auto;
}

.iconHover:hover {
    border-color: #3b71ca !important;
}

.iconHover:hover svg {
    color: #3b71ca !important;
}